<script>
export default {
    name : 'CountrySelect',
    props: ['countries'],
    data() {
        return {
            selected: 0
        }
    },
    methods: {
        onChange() {
            const country = this.countries.find((item) => item.ID === this.selected)
            console.log(country)
            this.$emit('get-country', country)
        }
    }
}
</script>

<template>
    <div class="flex items-center mt-10 gap-x-1">
        <select @change="onChange()" v-model="selected" class="form-select block w-4/5 border p-3 rounded outline-0 shadow-lg text-orangered font-poppins font-bold">
            <option value="0" class="text-black font-bold"> Select Country</option>
            <option v-for="country in countries"  :value="country.ID" class="font-bold text-black"> {{ country.Country }}</option>
        </select>

        <button @click="clearCountryData()" v-if="stats.Country" class="bg-orangered text-white rounded-lg p-3 w-1/5 focus:outline-none hover:bg-tangelo font-bold font-poppins">Clear Country</button>
    </div>
</template>