<script>

    // import moment to format date and time text
    import moment from 'moment'
    
    export default {
        name: 'DataTitle',
        props: ['text', 'dataDate'],
        computed: {
            timestamp : function(){
                return moment(this.dataDate).format('MMMM Do YYYY, h:mm:ss a')
            }
        }
    }
</script>

<template>
    <div class="text-center">
        <h2 class="text-3xl">{{ text }}</h2>
        <div class="text-2xl mt-4 mb-">
            {{ timestamp }}
        </div>
    </div>
</template>