<script>
export default {
    name: 'DataBoxes',
    props: ['stats'],
    methods: {
        numberWithCommas(x)
        {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
        }
    }
}
</script>

<template>

<div class="flex gap-2 justify-between">
    <div class="p-4 bg-white w-2/5 rounded-lg flex items-center shadow-lg flex-col">
    <h3 class="font-bold text-center font-Kumbh text-3xl mt-2">Cases</h3>
    <div class="">
        <span class="font-bold text-center block text-2xl mt-5">New: {{ numberWithCommas(stats.NewConfirmed) }} </span>
    </div>
    <div class="">
        <span class="font-bold text-center block text-2xl mt-5">Total: {{ numberWithCommas(stats.TotalConfirmed) }} </span>
    </div>
    </div>
    <div class="p-4 bg-white w-2/5 rounded-lg flex justify-center">
        <img src="../assets/Virus_perspective_matte.png" alt="" class="w-40">
    </div>
    <div class="p-4 bg-tangelo w-2/5 rounded-lg shadow-lg">
    <h3 class="font-bold text-center font-Kumbh text-3xl mt-2 text-white">Deaths</h3>
    <div class="">
        <span class="font-bold text-center block text-2xl mt-5 text-white">New: {{ numberWithCommas(stats.NewDeaths) }} </span>
    </div>
    <div class="">
        <span class="font-bold text-center block text-2xl mt-5 text-white">Total: {{ numberWithCommas(stats.TotalDeaths) }} </span>
    </div>
    </div>
</div>
</template>