<script>

</script>

<template>
<header class="m-0 w-100 p-4 flex item-center justify-center bg-orangered">
    <h1 class="text-3xl font-bold text-gray-100 font-poppins">
       <i class="fas fa-viruses"></i>  Covid19 Tracker  <i class="fas fa-viruses"></i>
    </h1>
</header>
</template>
