<script>

import DataTitle from '../components/DataTitle.vue'
import DataBoxes from '../components/DataBoxes.vue'
import CountrySelect from '../components/CountrySelect.vue'
import Loader from '../assets/loading.gif'

export default {
    name : 'PageBody',
    components: {
        DataTitle,
        DataBoxes,
        CountrySelect
    },
    data(){
        return {
            isLoading : true,
            title : 'Global',
            dataDate : '',
            stats : {},
            countries : [],
            loadingImage : Loader,
        }
    },
    methods: {
        async fetchData(){
            const res = await fetch('https://api.covid19api.com/summary')
            const data = await res.json();
            return data
        },
    getCountryData(country) {
        this.stats = country
        this.title = country.Country
    }
    },
    async created() {
        const data = await this.fetchData();
        this.dataDate = data.Date;
        this.stats = data.Global;
        this.countries = data.Countries;
        this.isLoading = false;
    }
}
</script>

<template>
<div class="min-h-screen py-2 px-10">
<div class="p-4 rounded-lg mt-5 bg-white">
    <h1 class="font-bold text-orange-500 font-poppins text-center">Google ADs Here</h1> 
</div>

<div class="mt-5" v-if="!isLoading">
    <h1 class="font-bold text-orange-500 font-poppins text-center p-4 bg-white rounded-lg">
        <DataTitle :text="title" :dataDate="dataDate" />
    </h1> 

<div class="mt-5 text-orange-500 font-poppins font-bold">
    <DataBoxes :stats="stats" />
</div>

<div>
    <CountrySelect @get-country="getCountryData" :countries="countries" />
</div>

<div>
    
</div>
</div>

<div class="bg-orange-500 p-4 rounded w-1/4 mt-5 mx-auto flex-col justify-center" v-else>
    <span class="font-poppins text-center text-white block">Fetching Data...</span>
    <img :src="loadingImage" alt="" class="w-24 mx-auto mt-4">
</div>

</div>
</template>