<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup


import Header from './components/Header.vue';
import PageBody from './components/MainBody.vue';

</script>

<template>
  <Header />
  <PageBody />
</template>

<style>
</style>
